@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , 'Sans-serif';
    overflow: auto;
}
b{
    font-weight: 600;
}

/* utilities */

body{
  line-height: 1.6;
}
.flex{
  display: flex;
  /* justify-content: center; */
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.container-top{
  max-width: 1300px;
  margin:0 auto;
  overflow: auto;
  padding: 0 0;
  justify-content: space-between;
}
ul li a{
  text-decoration: none;
  color: white;
}
li:focus{
  color: white;
}
ul{
  list-style: none;   
  gap: 40px;
}
img,.orange-btn,.places-card,.card,.box,.navbar li,.navbar .left,i,a{
  cursor: pointer;
}

/* Header */


/* navbar  */

.color{
  background-color: rgb(51, 164, 164);
  padding: 10px 0;
}

.middle{
  gap: 10px;
  align-items: center;
  margin: 0px 20px;
}
.searchcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 450px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  border: 1px solid rgb(232, 232, 232);
  gap: 5px;
  padding: 0 10px;
}
.search{
  width: 70%;
}
.searchbar{
  border: none;
  font-size: 10px;
  width: 90%;
  outline: none;
}
input::placeholder{
  font-size: 12px;
  letter-spacing: 1px;
}

.orange-btn{
  background-color: rgb(255, 127, 80);
  color: white;
  width: 140px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  /* border: 1px solid rgb(0, 0, 0); */
  gap: 5px;
}

.right, .logo{
  gap: 20px;
  align-items: center;
  width: max-content;
}

.color-org{
  background-color: rgb(255,127,80);
}
.navbar-2{
  color: white;
  justify-content:center ;
  padding: 10px;
}
.navbar-2 ul{
  justify-content: space-between;
  margin: auto;
  gap: unset;
  width: 60%;
}
.navbar-2 ul a:hover{
  color: rgb(51,164,164);
}

/* Cart Main CSS */

.cart-main{
  margin-top: 40px;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    padding: 30px;
    padding-top: 16px;
    overflow-x: scroll;
    gap: 24px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    margin-left: 40px;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card{
    border: 2px solid #d6eded;
    min-width: 240px;
    border-radius: 8px;
}
.card-img{
    width: 100%;
    background-color: #d6eded;
    display: flex;
    flex-direction: row-reverse;
}
.abc{
    margin-right: 6px;
    margin-top: 6px;
    width: 21px;
}
.card-img img{
    height: 150px;
    width: 150px;
    margin-right: 24px;
}
.card-text{
    padding-left: 10px;
    margin-top: 8px;
}
.card-text h5{
    font-weight: 500;
    font-size: 18px;
}
.card-text h6{
    font-weight: 500;
    font-size: 16px;
}
.price strike{
    font-weight: 300;
    font-size: 13px;
    color: #cacaca;
}
.price button{
    margin-left: 9px;
    padding: 4px;
    background-color: #E5F7EE;
    border: none; 
}
.price{
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.off{
    font-size: 10px;
    color: #03753c;
}
.cart-btn button{
    padding: 4px 12px;
    background-color: #33a4a4;
    color: #ffffff;
    border: 2px solid #33A4A4;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}
.cart-btn button:hover {
    background-color: #ffffff;
    color: #33a4a4;
  }

/* Cart Main CSS End */

/* Footer */

.one {
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: auto;
}

.footer-card {
  border: 2px solid rgb(208, 208, 208);
  height: 300px;
  width: 324px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0px 10px;

}

.footer-card img {
  margin: 40px;
}
/* footer h4{
  height: 50px;
} */

.two{
  background-color:  rgb(51, 164, 164);
  text-align: center;
  color: white;
  padding: 60px;
}
.two .main{
  justify-content: space-evenly;
  align-items: center;
}
.two .main .logo{
  margin: auto;

}
.two .orange-btn{
  margin-top: 30px;
}
footer .container-top{
  max-width: 100%;
}
.footer{
  padding: 60px 40px;
}
footer .mid{
  padding: 25px 0;
  justify-content: space-between;
  overflow: auto;
  width: auto;
  flex-wrap: wrap;
}
footer .mid .row{
  gap: 10px;
  letter-spacing: 0.5px;
  width: fit-content;
  overflow: hidden;
  padding: 10px;
}
footer .mid .row h5{
  letter-spacing: 1px;
  font-weight: 600;
  width: fit-content;
  height: 30px;
  font-size: medium;
  text-align: justify;
}
footer .mid .row p{
  font-weight: 400;
  cursor: pointer;
  margin-left: 2px;
}
footer .mid .row p:hover{
  color: rgb(51,164,164);
}

footer .mid .row-5 div{
  gap: 20px;
}
footer .mid .row-5 div p{
  margin-bottom: 0;
  max-width: 300px;
  font-size: 14px;
}
footer .mid .row .social{
  gap: 5px;
  align-items: center;
}
footer .end p{
  font-size: 12px;
  letter-spacing: 0.5px;
}
footer .end{
  padding: 20px 0;
} 
.footer{
  background-color: rgb(245,245,245);
}

/* Responsiveness */

/* navbar  */


@media(max-width: 1050px){
  header .container-top{
      max-width: unset;
  }
  .navbar-2 ul{
      width: 90%;
      padding-left: unset;
  }
  .cards{
    margin-left: 10px;
  }
}
@media(max-width: 970px){
  
  .searchcontainer{
      width: 80vb;
      height: 30px;
  }
  .orange-btn{
      width: 30vb;
      height: 30px;
  }
  .cards{
    margin-left: -10px;
  }
}
@media(max-width: 600px){
  .searchcontainer{
      width: 80vb;
      height: 25px;
  }
  .orange-btn{
      width: 30vb;
      height: 25px;
  }
  .navbar-2 ul{
      width: 100%;
      margin: unset;
      font-size: small;
      
  }
}
@media(max-width: 500px){
  .color{
      padding: 10px 5px;
  }
  .right{
      gap: 5px;
  }
  .middle{
      font-size:x-small;
  }
  .searchcontainer{
      height: 25px;
  }
  .orange-btn{
      height: 25px;
      
  }
  
}