@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , 'Sans-serif';
}
b{
    font-weight: 600;
}

/* Header */


/* Sign Up Page */

 .sign{
    display: flex;
    margin: 60px 200px;
 }
 .sign-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sign-img img{
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
 }
 .sign-main{
    width: 50%;
    text-align: center;
 }
 .sign-logo{
    margin: 0 auto;
 }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  form{
    text-align: left;
  }
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  button {
    background-color: #33a4a4;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #008d8d;
  }
  p {
    font-size: 14px;
    margin-top: 20px;
  }
  a {
    color: #0066c0;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }


/* Footer */

/* Responsiveness */

@media (max-width:1000px){
  .sign{
    margin: 30px;
  }
}

@media (max-width:700px) {
  .sign{
    flex-direction: column;
  }
  .sign-img{
    width: 100%;
  }
  .sign-main{
    width: 100%;
  }
  .container{
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
  }
}

@media (max-width:370px){
  .sign{
    margin: 30px auto;
  }
  .sign-img img{
    border-radius: 4px;
  }
  .container{
    width: 80%;
  }
  h1{
    font-size: 20px;
  }
}