/* utilities */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
}

.flex {
    display: flex;
    /* justify-content: center; */
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 0;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    color: white;
}

li:focus {
    color: white;
}

ul {
    list-style: none;
    gap: 40px;
}

img,
.orange-btn,
.places-card,
.card,
.box,
.navbar li,
.navbar .left,
i,
a {
    cursor: pointer;
}



/* header  */


/* navbar  */

.color {
    background-color: rgb(51, 164, 164);
    padding: 10px 0;
}

.middle {
    gap: 10px;
    align-items: center;
    margin: 0px 20px;
}

.searchcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 450px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
    gap: 5px;
    padding: 0 10px;
}

.search {
    width: 70%;
}

.searchbar {
    border: none;
    font-size: 10px;
    width: 90%;
    outline: none;
}

input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
}

.orange-btn {
    background-color: rgb(255, 127, 80);
    color: white;
    width: 140px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    /* border: 1px solid rgb(0, 0, 0); */
    gap: 5px;
}

.right,
.logo {
    gap: 20px;
    align-items: center;
    width: max-content;
}

.color-org {
    background-color: rgb(255, 127, 80);
}

.navbar-2 {
    color: white;
    justify-content: center;
    padding: 10px;
}

.navbar-2 ul {
    justify-content: space-between;
    margin: auto;
    gap: unset;
    width: 60%;
}

.navbar-2 ul a:hover {
    color: rgb(51, 164, 164);
}


/* top-menu */

.top-menu {
    /* border: 2px solid red; */

    margin-top: 40px;
    overflow-x: auto;
}

.top-menu .top-card {
    /* border: 2px solid green; */
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.circle {
    /* border: 1px solid black; */
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: rgb(166, 214, 255);
    align-items: center;
    justify-content: center;
}

.top-menu .top-card p {
    height: 60px;
    text-align: center;
}


/* slides  */

.c-item {
    object-fit: cover;
}

.c-img {
    height: 100%;
    filter: brightness(0.6);
}

.shop-now {
    background-color: aqua;
}

/* Product Main CSS */

.product-main h2{
    margin-left: 70px;
    margin-top: 30px;
    font-weight: 500;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    padding: 30px;
    padding-top: 16px;
    overflow-x: scroll;
    gap: 24px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    margin-left: 40px;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card{
    border: 2px solid #d6eded;
    min-width: 240px;
    border-radius: 8px;
}
.card-img{
    width: 100%;
    background-color: #d6eded;
    display: flex;
    flex-direction: row-reverse;
}
.abc{
    margin-right: 6px;
    margin-top: 6px;
    width: 21px;
}
.card-img img{
    height: 150px;
    width: 150px;
    margin-right: 24px;
}
.card-text{
    padding-left: 10px;
    margin-top: 8px;
}
.card-text h5{
    font-weight: 500;
    font-size: 18px;
}
.card-text h6{
    font-weight: 500;
    font-size: 16px;
}
.price strike{
    font-weight: 300;
    font-size: 13px;
    color: #cacaca;
}
.price button{
    margin-left: 9px;
    padding: 4px;
    background-color: #E5F7EE;
    border: none; 
}
.price{
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.off{
    font-size: 10px;
    color: #03753c;
}
.cart-btn button{
    padding: 4px 12px;
    background-color: #ffffff;
    color: #33A4A4;
    border: 2px solid #33A4A4;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}
.cart-btn button:hover {
    background-color: #33A4A4;
    color: #ffffff;
  }

/* Product Main CSS End */


/* gradient  */

.gradient {
    min-height: 400px;
    background-image: linear-gradient(to right, rgb(51, 164, 164), rgb(255, 127, 80, 40%));
    padding: 40px;
}

.gradient h4 {
    color: white;
    height: 70px;
    padding: 10px;
    letter-spacing: 1.5px;
    overflow: hidden;

}

.gradient .content {
    
    width: 100%;
    min-height: 300px;
}


/* timer  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C4A64;
}

h1{
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  padding-top: 30px;
  text-transform: uppercase;
}
.main{
    text-align: center;
}
.countdown{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


  
.countdown > div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.25);
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: white;
}
.number {
  font-weight: 500;
  font-size: 44px;
  color: #CAA78C;
}

div span:last-of-type{
  font-size: 12px;
}
.countdown span{
    overflow: hidden;
}
.countdown h4{
    overflow: hidden;
}





@media screen and (max-width:600px){
  h1{
    font-size: 40px;
  }
  .countdown h4{
    overflow: hidden;
  }
  .countdown{
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  div,span:last-of-type{
  font-size: 24px;
    text-transform: uppercase;
}
  .number {
  font-size: 34px;
}
}



/* deal  */

.deals-h {
    margin-top: 40px ;
    justify-content: space-evenly;
}
.deals {
    margin: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
}
.deals .card{
    width: 500px;
    height: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 127, 80,40%);
    padding: 20px;
    margin: 50px;
}
.deals-h h4{
    height: 50px;
}
.deals .light-orange-btn {
    background-color: white;
    color: rgb(255, 127, 80);
    width: 100px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    gap: 5px;
    margin-right: 20px;
}
.deals .orange-btn{
    width: 100px;
    margin-left: 20px;
}


/* footer  */


.one {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    margin: auto;
}

.footer-card {
    border: 2px solid rgb(208, 208, 208);
    height: 300px;
    width: 324px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0px 10px;

}

.footer-card img {
    margin: 40px;
}

footer h4 {
    height: 40px;
}
.footer-card p{
    font-size: small;
}


footer .two {
    background-color: rgb(51, 164, 164);
    text-align: center;
    color: white;
    padding: 60px;
}

.two .main {
    justify-content: space-evenly;
    align-items: center;
}

.two .main .logo {
    margin: auto;
    margin-bottom: 20px;
}

.two .main h4 {
    margin-bottom: 0px;
}
.two p{
    color: #fff;
    font-size: medium;
}
.our-mission{
    color: #fff;
}


.footer {
    padding: 60px 0px;
    background-color: rgb(245, 245, 245);
}
footer .mid {
    padding: 25px 0;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
    flex-wrap: wrap;
}

footer .mid .row {
    gap: 10px;
    letter-spacing: 0.5px;
    width: fit-content;
    overflow: hidden;
    padding: 10px;


}

footer .mid .row h5 {
    letter-spacing: 1px;
    font-weight: 700;
    width: fit-content;
    height: 25px;
    font-size: medium;
    text-align: justify;
}

footer .mid .row p {
    font-weight: 400;
    cursor: pointer;
    margin-left: 2px;
}

footer .mid .row p:hover {
    color: rgb(51, 164, 164);
}

footer .mid .row-5 div {
    gap: 20px;
}

footer .mid .row-5 div p {
    margin-bottom: 0;
    max-width: 300px;
    font-size: 14px;
}

footer .mid .row .social {
    gap: 5px;
    align-items: center;
}

footer .end p {
    font-size: 12px;
    letter-spacing: 0.5px;
}

footer .end {
    padding: 20px 0;
}

.footer {
    background-color: rgb(245, 245, 245);
}


/* media quirey */


/* navbar  */


@media(max-width: 1050px) {
    header .container {
        max-width: unset;
    }

    .navbar-2 ul {
        width: 90%;
        padding-left: unset;
    }
    .product-main h2{
        margin-left: 40px;
      }
      .cards{
        margin-left: 10px;
      }
}

@media(max-width: 970px) {

    .searchcontainer {
        width: 80vb;
        height: 30px;
    }

    .orange-btn {
        width: 30vb;
        height: 30px;
    }
    .product-main h2{
        margin-left: 20px;
      }
      .cards{
        margin-left: -10px;
      }
}

@media(max-width: 600px) {
    .searchcontainer {
        width: 80vb;
        height: 25px;
    }

    .orange-btn {
        width: 30vb;
        height: 25px;
        font-size: small;
    }
    
    .navbar-2 ul {
        width: 100%;
        margin: unset;
        font-size: small;
        
    }

    /* top menu  */


    .top-menu {
    
        margin-top: 20px;
    }
    .top-card{
        font-size: x-small;
    } 
    .top-card .circle{
        width: 50px;
        height: 50px;
    }
    .top-card .circle img{
        width: 40px;
        height: 40px;
    }
    .top-menu .top-card p {
        height: 30px;
    }
}

@media(max-width: 500px) {
    .navbar-2 ul {
        font-size: x-small;
        
    }
    .color {
        padding: 10px 5px;
    }
    .orange-btn {
        font-size: x-small;
    }

    .right {
        gap: 5px;
    }

    .middle {
        font-size: x-small;
    }

    .searchcontainer {
        height: 25px;
    }

    .orange-btn {
        height: 25px;

    }
    .container{
        max-width: none;
    }
    .deals .card{
        margin: 50px 0px ;
    }

}